#banner-theme {
	background: url("/altendis-theme/images/altendis/altendis-banner-right.png") no-repeat scroll right center #184f6c;
	background-size: auto 100%;
	
	.header-bg {
		position: absolute;
		opacity: 0.5;
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0,
			0, 0.5)), color-stop(48%, rgba(0, 0, 0, 0)),
			color-stop(100%, rgba(0, 0, 0, 0.5))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.5) 100%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.5) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.5) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000',
			endColorstr='#cc000000', GradientType=1); /* IE6-9 */
	}
	
	.header-top-strip {
		z-index: 1;
		position: absolute;
		text-align: center;
		width: 100%;
		height: 60px;
		background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.6) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
			, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.6)));
		/* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.6) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.6) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.6) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.6) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000',
			endColorstr='#99000000', GradientType=0); /* IE6-9 */
	}
	
	.header-hr {
		width: 100%;
		height: 1px;
		background: -moz-linear-gradient(left, rgba(41, 169, 223, 0) 0%,
			rgba(41, 169, 223, 0.6) 50%, rgba(41, 169, 223, 0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(41,
			169, 223, 0)), color-stop(50%, rgba(41, 169, 223, 0.6)),
			color-stop(100%, rgba(41, 169, 223, 0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(41, 169, 223, 0) 0%,
			rgba(41, 169, 223, 0.6) 50%, rgba(41, 169, 223, 0) 100%);
		/* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(41, 169, 223, 0) 0%,
			rgba(41, 169, 223, 0.6) 50%, rgba(41, 169, 223, 0) 100%);
		/* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(41, 169, 223, 0) 0%,
			rgba(41, 169, 223, 0.6) 50%, rgba(41, 169, 223, 0) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(41, 169, 223, 0) 0%,
			rgba(41, 169, 223, 0.6) 50%, rgba(41, 169, 223, 0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0029a9df',
			endColorstr='#0029a9df', GradientType=1); /* IE6-9 */
	}

	.header-bottom-strip {
		position: absolute;
		width: 100%;
		bottom: 55px;
		height: 10px;
		background-color: rgba(255, 255, 255, 0.1);
	}
	
	.member-of-excilys {
		display:none;
	}
	
	.header-top-strip-content {
		margin: 0px auto;
		max-width: 1170px;
		width: 100%;
		text-align: right;
		color: white;
		padding-top: 0.8em;
	}
	
	.header-top-strip-content-left {
		float: left;
		line-height: 1.7;
		margin-left: 0.5em;
		color: white;
	}
	
	.excilys-logo {
		width: 46px;
	}
	
	.altendis-logo {
		position: absolute;
		left: 10%;
		top: 190px;
		
		> img {
			max-height:100px;
		}
	}
	
	.altendis-description {
		color: #EFEFEF;
		line-height: 1.25;
		width: auto;
		display: inline;
		position: absolute;
		bottom: 150px;
		font-size: 20px;
		left: 5%;
	}
	
	.header-content {
		height: 500px;
		position: relative;
	}
	
	.header-light-effect {
		position: relative;
		top: 60px;
		width: 100%;
	}
	
	.header-top-strip-content-right {
		display:none;
	}
	
	.header-content .centered {
			position: relative;
			margin: 0px auto;
			padding-top: 125px;
			max-width: 1170px;
			color: white;
			text-align: center;
			
			.text {
				position: relative;
				text-align: left;
				left: 280px;
			}
	}
		
	.liferay-trainer {
		position: absolute;
		right: 20px;
		bottom: 80px;
		max-height: 50px;
	}
	
	.next-formation {
		position: absolute;
		top: 60px;
		right: 20px;
		text-align: right;
		
		a {
			text-decoration: none;
			color: white;
			font-weight: bold;
			line-height: 40px;
		}
	}
	
}
@include respond-to(tablet,desktop) {
	#banner-theme {
		.header-bottom-strip {
			bottom: 55px;
		}	
		.member-of-excilys {
			display:inline-block;
		}
		
		.header-top-strip-content-right {
			float: right;
			padding-top: 0.2em;
			display:inline-block;
		}
		
		.altendis-logo {
			position: absolute;
			left: 15%;
			top: 140px;
			
			> img {
				max-height:none;
			}
		}
		
		.next-formation {
			top:100px;
			right: 50px;
			
			a {
				font-size: x-large;
			}
		}
	
		.altendis-description {
		    bottom: 110px;
		    left: 19%;
    		font-size: 25px;
		}
		
		.liferay-trainer {
			position: absolute;
			right: 10px;
			bottom: 75px;
			max-height: none;
		}
	}
	
	
	
}

@include respond-to(desktop, desktop) {
	#banner-theme {
		.header-bottom-strip {
			bottom: 65px;
		}	
		.altendis-description {
			bottom:140px;
			left: 38%;
		}
	}
}

/*   RIBBON : THE YELLOW BANNER */


#ribbon {
        list-style: none;
        display: block;
        float: left;
        margin-top: 1em;
        text-align: center;

}

#textRibbon {    
	position: absolute;
  	display: flex;
    margin-left: auto;
    margin-right: auto;  
    z-index: 600;
    width: 100%;
    height: 100%;

    top: 0px;

    text-align: center;
    color: rgba(123, 82, 82, 1);
}

#textRibbon .text {
  font-family: auto;
  font-size: 0.9em;
  margin : auto;
}

#navigation_container {
   position: relative;
   margin: 0 auto;
   height: 80px;
   top: 65px;
}

.rectangle {
   background: #ecc350;
   height: 100%;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 0em 0;
}

.l-triangle-top {
   border-color: #eeb73e transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: 2px;
   left: -50px;
}
 
.l-triangle-bottom {
   border-color: transparent transparent #eeb73e;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: left;
   top: -24px;
   left: -150px;
}

.r-triangle-top {
   border-color: #eeb73e transparent transparent;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   right: -45px;
   top: -77px;
}
 
.r-triangle-bottom {
   border-color: transparent transparent #eeb73e;
   border-style:solid;
   border-width:50px;
   height:0px;
   width:0px;
   position: relative;
   float: right;
   top: -104px;
   right: -145px;
}




@media (min-width: 1600px) {

   #navigation_container {
   	 width: 400px;
   	 top: 65px;
   }

}

@media (min-width: 1900px) {
   #navigation_container {
   	 width: 550px;
   	 top: 65px;
   }
}

@media (max-width: 1600px) {
   #navigation_container {
   	 width: 550px;
   	 top: 510px;
   }
   
   #wrapper {
   	 margin-top: 50px;
   }
	
}

/* position for the Language portlet*/
#p_p_id_82_ {
	position: relative;
    left: 10px;
    z-index: 100;
}

@media (min-width: 1300px) {
	#p_p_id_82_ {
		top:-110px;
	}
}
@media (max-width: 1300px) {
	#p_p_id_82_ {
		top:-70px;
	}
}