.footer-theme {
	font-size: 0.9em;
	position: relative;
	padding: 0px;
	width: 100%;
	background: #184f6c;
  	overflow: visible;
  	
  	.footer-bg {
		position: absolute;
		opacity: 0.5;
		width: 100%;
		height: 100%;
		background: -moz-linear-gradient(left,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 48%, rgba(0,0,0,0.8) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(48%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.8))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.8) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.8) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.8) 100%); /* IE10+ */
		background: linear-gradient(to right,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 48%,rgba(0,0,0,0.6) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=1 ); /* IE6-9 */
	}
	
	.footer-light-effect {
		position: absolute;
		top: -10px;
		width: 100%;
		height: 10px;
		border-bottom: 1px solid #3A6375;
		background: rgba(0,0,0,0.05);
		z-index: 100;
	}
	
	.footer-column {
		margin:10px;
		letter-spacing: 1px;
		line-height: 1.5;
		
		.footer-title {
			color: white;
			display: block;
			font-size: 130%;
			font-variant: small-caps;
			padding-bottom: 5px;
		}
		
		.footer-text {
			color: #EEE;
		}
		
		.phone-label {
			color: white;
			display: inline-block;
			width: 60px;
		}
		
		.phone-text {
			color: #EEE;
			font-weight: bold;
		}
		
		.quote {
			font-style: italic;
			color: white;
			font-weight: bold;
			font-size: 0.9em;
			margin-top: 10px;
			text-align: justify;
			
			i {
				opacity: 0.4;
				padding-left: 10px;
				padding-right: 3px;
			}
			
			img {
				display:none;
			}
		}
	}
	
	.footer-column-right {
		padding-top:2em;
		border-right: none;
	}
	
	.footer-copyright {
		font-size: 0.9em;
		bottom: 0px;
		padding: 10px 0;
		color: #AAA;
		text-align: center;
		background: rgba(0, 0, 0, 0.4);
		width: 100%;
	}

	.btn-signin {
		display:none;
	}
}

@include respond-to(tablet, desktop) {
	.footer-theme {
		height: 380px;
		
		.footer-copyright {
			position: absolute;
		}
		
		.btn-signin {
			display:inline-block;
			position: absolute;
			bottom: 0;
			right: 0;
			margin: 5px;
		}
		
		.footer-column {
			position:absolute;
			right: 50%;
			height: 200px;
			margin-top: 2em;
			width: 370px;
			
			
		}
		
		.footer-column-right {
			padding-top:inherit;
			right:  auto;
			left: 50%;
		}
	}	
}

@include respond-to(desktop, desktop) {
	.footer-theme {				
		.footer-column {
			width: 470px;
			.quote {
				img {
					display:inline-block;
				}
			}
		}
	}
}