<div  class="flow-navbar">
	<nav id="myNavbar" class="$nav_css_class navbar" role="navigation">
		<div class="navbar-top"><a class="animate-scroll" href="#banner-theme"><i class="fa fa-angle-double-up"></i> Haut</a></div>
		
		<div class="navbar-inner">				
			<a type="button" class="btn btn-toggle pull-left" data-toggle="collapse" data-target=".nav-collapse">
		        <i class="fa fa-bars fa-lg"></i>
      		</a>
		
			<div class="nav-collapse collapse">
				<ul class="nav"  aria-label="#language ("site-pages")" role="menubar">
					#foreach ($nav_item in $nav_items)
						#set ($nav_item_attr_has_popup="")
						#set ($nav_item_attr_selected="")
						#set ($nav_item_css_class = "")

						#if ($nav_item.isSelected())
							#set ($nav_item_attr_selected="aria-selected='true'")
							#set ($nav_item_css_class = "selected")
						#end
						
						#set ($tag = $nav_item.getName().replace(" ",""))
			
						<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
							<a class="animate-scroll" aria-labelledby="layout_$nav_item.getLayoutId()" href="#$tag" $nav_item_attr_has_popup $nav_item.getTarget() role="menuitem">$nav_item.icon() $nav_item.getName()</a>
						</li>
					#end
				</ul>
			</div>
		</div>
	</nav>
</div>